* {
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Fira Sans', sans-serif;
}

body {
    background-color: #091079;
}

.navbar-brand span {
    color: #fff;
    font-weight: bold;
    font-size: 2em;
}

.navbar-light .navbar-toggler {
    color: #091079;
    border-color: #091079;
}

.nav-item {
    text-align: center;
}